<section class="artist">
  <div class="container">
    <h2 class="artist-title">Our artists</h2>
    <ul class="artist-list">
      <li class="artist-item">
        <a href="" class="artist-link">
          <picture class="artist-img">
            <!-- Desktop screen -->

            <source
              media="(min-width: 768px)"
              srcset="
                ./img/artists/img-1-tab-1x.png 1x,
                ./img/artists/img-1-tab-1x.png 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/artists/img-1-mob-1x.png 1x,
                ./img/artists/img-1-mob-2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="card-img"
              src="./img/artists/img-1-tab-1x.png"
              alt="the girl with a scarf"
              width="360"
              height="586"
              loading="lazy"
            />
          </picture>
          <div class="artist-text-wrap">
            <h3 class="artist-subtitle">Mia</h3>
            <p class="position-text">Tattoo artist</p>
            <p class="experience">Work experience: over 8 years</p>
          </div>
        </a>
        <a type="button" class="artist-link-portfolio">View portfolio</a>
      </li>
      <li class="artist-item">
        <a href="" class="artist-link">
          <picture class="artist-img">
            <!-- Desktop screen -->

            <source
              media="(min-width: 768px)"
              srcset="
                ./img/artists/img-2-tab-1x.png 1x,
                ./img/artists/img-2-tab-1x.png 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/artists/img-2-mob-1x.png 1x,
                ./img/artists/img-2-mob-2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="card-img"
              src="./img/artists/img-2-tab-1x.png"
              alt="the man with a beard"
              width="360"
              height="586"
              loading="lazy"
            />
          </picture>
          <div class="artist-text-wrap">
            <h3 class="artist-subtitle">Peter</h3>
            <p class="position-text">Tattoo artist</p>
            <p class="experience">Work experience: over 10 years</p>
          </div>
        </a>
        <a type="button" class="artist-link-portfolio">View portfolio</a>
      </li>
      <li class="artist-item">
        <a href="" class="artist-link">
          <picture class="artist-img">
            <!-- Desktop screen -->

            <source
              media="(min-width: 768px)"
              srcset="
                ./img/artists/img-3-tab-1x.png 1x,
                ./img/artists/img-3-tab-1x.png 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/artists/img-3-mob-1x.png 1x,
                ./img/artists/img-3-mob-2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="card-img"
              src="./img/artists/img-3-tab-1x.png"
              alt="blonde girl"
              width="360"
              height="586"
              loading="lazy"
            />
          </picture>

          <div class="artist-text-wrap">
            <h3 class="artist-subtitle">Christina</h3>
            <p class="position-text">Tattoo artist</p>
            <p class="experience">Work experience: over 5 years</p>
          </div>
        </a>
        <a type="button" class="artist-link-portfolio">View portfolio</a>
      </li>
    </ul>
  </div>
</section>
