<header class="header">
  <div class="container header-container">
    <a href="" class="logo"
      >Colibri <span class="logo-pite">tattoo studio</span></a
    >
    <button type="button" class="menu-open-btn">
      <svg width="24" height="24">
        <use href="./img/icons.svg#icon-mob-menu"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="nav-list">
        <li><a href="" class="nav-link">About us</a></li>
        <li><a href="" class="nav-link">Artists</a></li>
        <li><a href="" class="nav-link">Gallery</a></li>
        <li><a href="" class="nav-link">Shop Rules</a></li>
        <li><a href="" class="nav-link">Contacts</a></li>
      </ul>
    </nav>
  </div>
</header>
