<section class="shop_rules">
  <div class="container rules-container">
    <h2 class="rules_title">Shop Rules</h2>
    <svg class="rules-icon" width="56" height="64">
      <use href="./img/icons.svg#icon-Vector"></use>
    </svg>
    <div class="rules-wraper">
      <p class="rules-text">
        Welcome! Please take a moment to go through our shop rules before
        entering. If you're bringing friends, kindly make sure they're aware of
        these guidelines.
      </p>
      <ul class="rules-list">
        <li class="rules-item">
          <h3 class="rules-subtitle">No Photos, Please</h3>
          <p class="rules-desk">
            Please refrain from taking photos inside the shop. Not everyone may
            be comfortable having their pictures taken, especially during tattoo
            sessions. Let's respect everyone's privacy.
          </p>
        </li>
        <li class="rules-item">
          <h3 class="rules-subtitle">Limit to 1 Guest</h3>
          <p class="rules-desk">
            Due to our cozy space, we ask that you bring no more than one friend
            or family member with you during your session. This helps us
            maintain a comfortable environment for everyone.
          </p>
        </li>
        <li class="rules-item">
          <h3 class="rules-subtitle">Minimum Age</h3>
          <p class="rules-desk">
            18 Years Old: According to Danish law, you must be at least 18 years
            old to get a tattoo, and unfortunately, parental permission doesn't
            apply. Please bring a valid photo ID for age verification and
            registration.
          </p>
        </li>
        <li class="rules-item">
          <h3 class="rules-subtitle">No Animals Allowed</h3>
          <p class="rules-desk">
            For health reasons, we can't allow pets inside the shop. This is in
            compliance with the regulations set by the Health Authorities.
          </p>
        </li>
        <li class="rules-item">
          <h3 class="rules-subtitle">Your Belongings, Your Responsibility</h3>
          <p class="rules-desk">
            Remember to keep an eye on your belongings. We can't monitor your
            bags, coats, etc. Also, please be aware that we don't take
            responsibility for any clothing damaged during the tattoo process.
            Smoking, Alcohol, Drugs: Smoking is only permitted outside the shop.
            If you're under the influence of alcohol or drugs, we kindly ask you
            to leave the studio. Our focus is on providing a safe and
            comfortable experience for everyone.
          </p>
        </li>
        <li class="rules-item">
          <h3 class="rules-subtitle">Your Tattoo, Your Responsibility</h3>
          <p class="rules-desk">
            Before starting the tattoo process, carefully review and approve all
            aspects, including grammar, spelling, placement, and size. Once you
            give the green light, the artist won't be held responsible for these
            details. We want you to be 100% satisfied, so take your time to
            ensure everything looks just right.
          </p>
        </li>
      </ul>
      <p class="rules-description">
        Thank you for taking the time to read and follow our shop rules. We look
        forward to providing you with a positive tattoo experience!
      </p>
    </div>
  </div>
</section>
